<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="BrowserType" value="eyes" />
    <add key="SiteV1" value="https://demo.applitools.com/index.html" />
    <add key="SiteDynamicV1" value="https://demo.applitools.com/hackathon.html?showAd=true" />
    <add key="SiteV2" value="https://demo.applitools.com/hackathonV2.html" />
    <add key="SiteDynamicV2" value="https://demo.applitools.com/hackathonV2.html?showAd=true" />
    <add key="Username" value="rai@rms.ro" />
    <add key="Password" value="Appl1t00ls2019" />
    <add key="API_Key" value="lyI5ZVJCXzKEm8NC55cO5F3PzhQuN9JQxaZRT0yU1BE110" />
  </appSettings>
</configuration>